$font-stack: 'Quicksand', sans-serif;
$primary-color: grey;
$body-background-color: white;
$modal-background-color: rgba(0,0,0,0.5);
$modal__content-background-color: rgba(0,0,0,0.5);
$caption-color: #000;
$input-color: darken($primary-color, 30%);

