@import 'base/vars';
@import 'base/reset';

body {
  background: $body-background-color;
  color: $caption-color;
  font-family: $font-stack;
}

//HEADER, FOOTER, MAIN
.header {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: $primary-color;

  h1 {
    font-size: 40px;
  }
}

footer {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  height: 80px;
  font: 30px $font-stack;
  background-color: $primary-color;
}

main {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
}

//FILTER PANEL
.filterPanel {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 50px 65px 0;
}

//SEARCH FIELD
.searchField {
  width: 300px;
  height: 42px;
  padding-left: 80px;
  color: $input-color;
  font: 20px/42px $font-stack;
  border: 2px solid $primary-color;
  background: url("../images/content/search-icon.png") 15px 5px no-repeat;
}

::placeholder {
  color: $input-color;
}

//SELECT FIELD
.selectField {
  appearance: none;
  background: url("../images/content/arrowDown-icon.png") no-repeat 96% 50%;
  width: 200px;
  height: 42px;
  padding-left: 10px;
  color: $input-color;
  font: 20px/42px $font-stack;
  outline: none;
  cursor: pointer;
  border: 2px solid $primary-color;
}

//BUTTONS
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  width: 100px;
  font: 20px $font-stack;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0 1em;
  color: lighten($primary-color, 50%);
  background-color: darken($primary-color, 10%);

  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  &:hover {
    color: lighten($primary-color, 10%);
    border-color: currentColor;
    background-color: darken($primary-color, 30%);
  }
}

.btn--right {
  margin-left: 100px;
}

//TASKS container
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.tasks {
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

//TASKS__ITEM
.itemTitle {
  height: 20px;
  overflow: hidden;
  text-align: center;
  font: 800 20px/20px $font-stack;
  margin: 10px 25px 20px 25px;
}

.itemDescription {
  height: 100px;
  overflow: hidden;
  font: 20px/20px $font-stack;
  margin: 10px 5px 20px 5px;
}

.tasks__item {
  height: 250px;
  background-color: lightgrey;
  padding: 10px 10px 20px 10px;
  position: relative;
  border: 3px solid black;
}

.complete {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -3px;
  border: 3px solid black;
  z-index: 2;
  background: white url("../images/content/checkmark-icon.png") 1px 1px no-repeat;
}

.itemPrior {
  width: 40%;
  height: 45px;
  text-align: center;
  font: 24px/30px $font-stack;
  display: inline-block;
  padding: 5px;
  border: 2px dashed $primary-color;
  border-radius: 15px;
}

.showConfig {
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  border: 2px solid $primary-color;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: $primary-color;
    border-color: black;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  justify-items: left;
}

//POP
.showPop {
  display: none;
  width: 100px;
  font: 20px/42px $font-stack;
  background-color: $primary-color;
  position: absolute;
  z-index: 10;
  top: 55px;
  left: -53px;
  &:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-right: 3px solid black;
    border-top: 3px solid black;
    transform: rotate(-45deg);
    top: -12px;
    right: 15px;
  }
  div {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    border: 3px solid black;
    border-bottom: none;

    &:last-child {
      border-bottom: 3px solid black;
    }

    &:hover {
      background-color: #fff;
    }
  }
}

//MODAL
#modal {
  width: 100%;
  height: 800px;
  background-color: $modal-background-color;
  overflow: auto;
  position: fixed;
  color: white;
  font: 20px/42px $font-stack;
  display: none;
  z-index: 1000;
  left: 0;
  top: 0;
}

#modal #modal__content {
  margin: 40px auto 0 auto;
  width: 350px;
  height: 60%;
  z-index: 99999;
  padding: 20px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.button__wrapper {
  display: block;
  padding-top: 70px;
}

label {
  display: block;
}

#title, #priority {
  width: 100%;
  height: 42px;
  color: $input-color;
  font: 20px/42px $font-stack;
  border: 2px solid $primary-color;
  padding-left: 5px;

  ::placeholder {
    color: $input-color;
  }
}

#priority {
  outline: none;
  appearance: none;
  background: white url("../images/content/arrowDown-icon.png") no-repeat 96% 50%;
}

#description {
  padding-left: 5px;
  width: 100%;
  height: 100px;
  color: $input-color;
  font: 20px/42px $font-stack;
  border: 2px solid $primary-color;

  ::placeholder {
    color: $input-color;
  }
}

.button__wrapper {
  display: block;
  padding-top: 70px;
}
